DATABASE_URL="postgresql://postgres.nijzcwrzzmzbeqrojwdd:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres"

DIRECT_URL="postgresql://postgres.[YOUR-PASSWORD]@db.nijzcwrzzmzbeqrojwdd.supabase.co:5432/postgres"

FRONTEND_URL=http://localhost:3001

PORT=3000

JWT_SECRET="your-jwt-secret-random-string"

ENCRYPTION_KEY="your-32-char-encryption-key"

CREDENTIAL_ENCRYPTION_KEY="your-base64-encoded-encryption-key"

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin123!